@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #007bff;
  --lgreen: #e6f9f8;
  --dgreen: #009387;
  --lblue: #d4e6fa;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-lgreen: var(--lgreen);
  --color-dgreen: var(--dgreen);
  --color-lblue: var(--lblue);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
}

body {
  background: #f5f7fa;
  color: #0f172a;
}
